<template>
  <div class="home">
    <div class="detail">
      <Plans class="container" />
      <div class="container">
        <Orders />
        <div class="detail">
          <Stocks class="part" />
          <Drones class="part" />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Plans from '@/components/Plans.vue';
import Orders from '@/components/Orders.vue';
import Stocks from '@/components/Stocks.vue';
import Drones from '@/components/Drones.vue';

export default defineComponent({
  name: 'Home',
  components: {
    Plans,
    Orders,
    Stocks,
    Drones,
  },
});
</script>

<style scoped>
  .detail {
    display: flex;
  }

  .container {
    width: 100%;
    height: 100%;
  }
  .part {
    width: 80%;
    height: 100%;
  }
</style>
