<template>
  <div class="card">
    <div class="title">
      <h2>Drones</h2>
    </div>
    <div>
      <table>
        <thead>
        <tr>
          <th>Drones</th>
          <th>Autonomy</th>
          <th>x</th>
          <th>y</th>
        </tr>
        </thead>
        <tbody>
        <tr v-bind:key="index" v-for="(drone, index) in getDrones">
          <td>{{ drone.id }}</td>
          <td>{{ drone.autonomy }}</td>
          <td>{{ drone.x }}</td>
          <td>{{ drone.y }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Drones',
  computed: {
    getDrones():Array<unknown> {
      return this.$store.state.drones;
    },
  },
});
</script>
