<template>
  <div class="card">
    <div class="title">
      <h2>ORDERS</h2>
    </div>
    <div class="order-list">
      <div>
        <table>
          <thead>
          <tr>
            <th>#</th>
            <th>Customers</th>
            <th>Products</th>
          </tr>
          </thead>
          <tbody>
            <tr v-bind:key=index v-for="(order, index) in getOrders">
              <td>{{ order.id}}</td>
              <td>{{ order.customerId }}</td>
              <td>
                <span v-bind:key=product v-for="product in order.basket">{{ product.quantity}}x
                  {{ product.productId }}, </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  name: 'Orders',
  computed: {
    getOrders():Array<string> {
      return this.$store.state.orders;
    },
  },
};
</script>
