<template>
  <div class="card">
    <div  class="title">
      <h2>PLANS</h2>
    </div>
    <button @click="plan" class="add-plan">+ add plans</button>
    <table>
      <thead>
      <tr>
        <th>Drones</th>
        <th>Stores</th>
        <th>Products</th>
        <th>Customers</th>
      </tr>
      </thead>
      <tbody>
        <tr :key="index" v-for="(plan, index) in getPlans">
          <td>{{ plan.drones }}</td>
          <td>{{ plan.stores }}</td>
          <td>{{ plan.products }}</td>
          <td>{{ plan.customers }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Plans',
  computed: {
    getPlans() {
      return this.$store.state.plans;
    },
  },
  methods: {
    plan() {
      const { orders } = this.$store.state;
      if (!orders.length) return; // is no orders, we stop here
      const drones = this.$store.getters.getAvailableDrones;
      // check if at least one drone is available
      if (!drones.length) {
        this.$toast.error('No drone available');
        return;
      }
      orders.forEach((order) => {
        for (const basket of order.basket) {
          if (this.$store.getters.getPassedOrder({
            id: order.id,
            product: basket.productId,
          }) >= basket.quantity) {
            continue;
          }
          const { stocks } = this.$store.state;
          // find smallest path from drones to a shop to the customer
          const path = this.findPath(drones, stocks,
            this.$store.getters.getClient(order.customerId),
            basket.productId);
          // update drone autonomy
          this.$store.commit('updateDrone', { distance: path.dist, droneId: path.drone });
          // Update stock the shop
          this.updateStock(path.shop, basket.productId);
          // Create the plan
          this.$store.commit('createPlan', {
            drones: path.drone,
            stores: path.shop,
            products: basket.productId,
            customers: order.customerId,
          });
          // Create on "processed" orders
          this.$store.commit('createOrder', {
            orderId: order.id,
            customer: order.customerId,
            product: basket.productId,
          });
          this.$toast.success('Success');
        }
      });
    },
    findPath(drones, stocks, customer, productId) {
      const stock = stocks[productId];
      const graph = drones.map((drone) => ({ drone, path: this.createGraph(drone, stock, customer) }));
      const paths = graph.map((g) => this.checkoutPath(g.path, g.drone));
      paths.sort((a, b) => a.distance - b.distance);
      let path = null;

      // check if the drone has enough autonomy
      for (const n of paths) {
        if (n.drone.autonomy >= n.distance) {
          path = { drone: n.drone.id, dist: n.distance, shop: n.path[1] };
          break;
        }
      }
      return path;
    },
    checkoutPath(graph, drone) {
      const costs = { ...graph.start, finish: Infinity };
      const parents = { finish: null };
      for (const child in graph.start) {
        parents[child] = 'start';
      }
      const visited = [];
      let node = this.lowest(costs, visited);
      while (node) {
        const cost = costs[node];
        const children = graph[node];
        for (const n in children) {
          const newCost = cost + children[n];
          if (!costs[n]) {
            costs[n] = newCost;
            parents[n] = node;
          }
          if (costs[n] > newCost) {
            costs[n] = newCost;
            parents[n] = node;
          }
        }
        visited.push(node);
        node = this.lowest(costs, visited);
      }
      const shortest = ['finish'];
      let parent = parents.finish;

      while (parent) {
        console.log(parent);
        shortest.push(parent);
        parent = parents[parent];
      }

      shortest.reverse();
      return {
        distance: costs.finish,
        path: shortest,
        drone,
      };
    },
    createGraph(drone, stock, customer) {
      const graph = { start: {}, finish: {}, customer: {} };

      for (const shop in stock) {
        if (stock[shop].stock <= 0) continue; // don't need shop without stock for the productId
        const distanceFromShop = Math.abs(drone.x - stock[shop].x) + Math.abs(drone.y
          - stock[shop].y);
        const distShopClient = Math.abs(stock[shop].x - customer.x)
          + Math.abs(stock[shop].y - customer.y);

        graph.start[shop] = distanceFromShop;
        graph[shop] = { customer: distShopClient };
      }
      const distClientDrone = Math.abs(drone.x - customer.x)
        + Math.abs(drone.y - customer.y);
      graph.customer = { finish: distClientDrone };
      return graph;
    },
    lowest(costs, processed) {
      return Object.keys(costs).reduce((lowest, node) => {
        if (lowest === null || costs[node] < costs[lowest]) {
          if (!processed.includes(node)) {
            lowest = node;
          }
        }
        return lowest;
      }, null);
    },
    updateStock(magasin, productId) {
      this.$store.commit('updateStock', { magasin, productId });
    },
  },
});
</script>

<style scoped>
  .add-plan {
    text-transform: uppercase;
    background: #FFF;
    border: 1px solid green;
    border-radius: 4px;
    cursor: pointer;
    color: green;
    margin-top: 10px;
    margin-left: 10px;
    width: 150px;
    height: 30px;
  }
  .add-plan:hover {
    background: #008000a3;
    color: white;
  }
</style>
