<template>
  <div class="card">
    <div class="title">
      <h2>STOCKS</h2>
    </div>
    <div>
      <div>
        <table>
          <thead>
          <tr>
            <th>Products</th>
            <th>Villeneuve</th>
            <th>Roncq</th>
            <th>Lesquin</th>
          </tr>
          </thead>
          <tbody>
          <tr :key="name" v-for="(mag, name) in getStocks">
            <td>{{ name }}</td>
            <td>{{ mag.Villeneuve?.stock }}</td>
            <td>{{ mag.Roncq?.stock }}</td>
            <td>{{ mag.Lesquin?.stock }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  name: 'Stocks',
  computed: {
    getStocks():Array<unknown> {
      return this.$store.state.stocks;
    },
  },
};
</script>

<style scoped>

</style>
