<template>
  <header id="nav">
    <h1>Leroy Merlin - Air project</h1>
  </header>
  <router-view/>
</template>

<style>
  body {
    margin: 0;
    padding: 0;
  }
  header {
    background: #008000a3;
    color: white;
    margin-bottom: 10px;
  }
  header > h1 {
    padding: 5px;
    margin: 0;
  }
  .title {
    background: #008000a3;
    color: white;
    text-transform: uppercase;
    border-radius: 5px 5px 0 0;
    height: 50px;
    display: flex;
    align-items: center;
  }
  h2 {
    padding: 5px;
    color:  white;
    margin: 0;
    font-size: 16px;
  }
  .card {
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 10px;
  }
  table {
    width: 100%;
    text-align: left;
    border-collapse:collapse;
  }
  th {
    height: 50px;
    color: grey;
    border-bottom: 1px solid #ddd;
  }
  td:first-child, th:first-child {
    padding-left: 10px;
  }
  tbody > tr {
    height: 50px;
    border-top: 1px solid #ddd;
  }
</style>
